@import './../../styles/index.scss';

#title-bar {
    width: 100%;
    height: var(--title-bar-height);
    margin: 0;
    padding: 0;
    background-color: var(--title-bar-background-color);
    border: var(--title-bar-border-bottom-height) solid var(--frame-border-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    -webkit-app-region: drag;
    -webkit-user-select: none;

    #app-title-container {
      display: flex;
      align-items: center;
      justify-content: center;
      border-right: 1px solid var(--dark-gray5);
      user-select: none;
      min-width: 38px;
      flex-grow: 0;
      flex-shrink: 0;
    }

    .title-bar-center-container {
      margin: auto 0;
      display: flex;
      flex-grow: 1;
      flex-shrink: 1;
      flex-direction: row;
      justify-content: flex-end;
    }

    .buttons-wrapper {
      justify-self: flex-end;
      border-left: 1px solid var(--frame-border-color);
      flex-grow: 0;
      flex-shrink: 0;

      .button {
        width: 22px;
        height: 22px;
        padding-top: 2px;
        margin-top: -1px;
        outline: none;
        background-color: transparent;
        border: none;
        border-radius: 3px;
        &:focus {
          outline: none;
        }
        &:hover {
          background-color: var(--blue1);
        }
      }

      .maximize-button {
        margin-left: 8px;
      }

      .close-button {
        margin-left: 8px;
        &:hover {
          background-color: var(--red1);
        }
      }

      #lock-button {
        background-size: 16px;
        background-image: var(--layout-unlocked-icon);
      }

      #lock-button.layout-locked {
        background-image: var(--layout-locked-icon);
      }
    }
}
