@import "./../../styles";

#app {
  //width: 100%;
  //height: 100%;
  .container {
    display: flex;
    width: 100%;
    height: 100%;
    .config-text-area {
      width: 100%;
      height: 100%;
      resize: none;
      border: none;
      background-color: var(--dark-gray5);
      color: var(--light-gray5);
      font-family: Consolas, "Courier New", monospace;
      padding: 0.5rem;
    }
  }
}
